/* -----------------------------------------------------------------------------

// This file includes deliberate errors in order for you to verify that
// Stylelint and EditorConfig are working properly. If both tools are, indeed,
// working correctly, then you’d see various errors in your editor about
// indentation and violations of CSS syntax. When you save this file, your
// editor should strip all excess newlines and whitespace characters from the
// file. If both of these events occur, then Stylelint and EditorConfig are
// working correctly.
//
// DON’T PROCEED UNTIL YOU’RE SURE STYLELINT AND EDITORCONFIG ARE WORKING RIGHT
// -------------------------------------------------------------------------- */

a {
  text-decoration: none;
}

.content {
  margin: 1rem 0rem;
}

header,
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

header {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1875;
  margin-top: 1rem;
}

h2 {
  font-size: 1.5rem;
}

.carousel {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.carousel-navigation {
  position: relative;
}

.carousel-slides {
  position: relative;
  align-content: start;
  width: 680px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: clip;

}

#main-slide-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  transition: 0.25s all ease-in-out;
  transform: translateX(0%);
}

.content {
  line-height: 1.4;
}

.slide {
  position: relative;
  width: 640px;
  flex-shrink: 0;
  align-items: center;
  padding: 20px;
}

.album {
  margin-top: 1rem;
}

.album,
.artist-p,
.source,
.credit-p {
  text-align: center;
  align-content: center;
}

.image {
  width: 100%;
  margin-top: 1rem;
}

.carousel-navigation {

  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 700px;
}

#left-button {
  z-index: 1;
  align-content: center;
  position: relative;
  bottom: 100px;
}

#right-button {
  z-index: 1;
  align-content: center;
  position: relative;
  bottom: 100px;
}
